.form-fields-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  justify-content: center;
}

.form-wrapper {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.film-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(10rem, 10fr));
  gap: 1.5rem;
  justify-content: space-between;
  margin: 2rem 2rem;
}

.highlighted-card {
  position: relative;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.highlighted-card::before {
  content: '';
  position: absolute;
  top: -2px; left: -2px; right: -2px; bottom: -2px;
  z-index: -1;
  border-radius: 0.4rem;
  background: linear-gradient(135deg, #0066ff, #ff0019);
  box-shadow: 0 0 0.75rem rgba(0, 123, 255, 0.4);
}

.rocket-icon {
  font-size: 1.5rem;
  vertical-align: middle;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
